<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="APP_Name" value="hy_app3.0" />
	<contextName>${APP_Name}</contextName>

<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{36} %L %M - %msg%xEx%n</pattern>
		</encoder>
		
	</appender>


<!-- 文件存留 -->
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <!-- 最新日志存放位置 -->
    <file>demo.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 拆分后存放位置 及拆分规则-->
      <fileNamePattern>demo-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
       <!-- 当文件超过app30.log超过100M，拆分存App30带日期.txt-->
       <maxFileSize>100MB</maxFileSize>    
       <!--日志文件保留最大数60个 -->
       <maxHistory>50</maxHistory>
       <!-- 不超过5G -->
       <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
    <!-- 存日志格式，精确到毫秒，线程名称等 -->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{36} %L %M - %msg%xEx%n</pattern>
    </encoder>
  </appender>
	
	<!-- 精细化配置，这个类只存ERROR级别日志，优先级大于ROOT级别 -->
	<logger name="org.springframework.scheduling" level="ERROR" additivity="false">  
    	<appender-ref ref="CONSOLE"/>  
    	<appender-ref ref="ROLLING"/> 
  	</logger>   

	<!--默认配置 ，输出调试级别日志，上生产应改为ERROR级别日志，官方文档说明支持实时修改，修改后5分钟生效-->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</root>
</configuration>